@model Models.NhomPhong
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    @using (Html.BeginForm("them-moi", "nhom-phong", FormMethod.Post))//sửa
    {
        if (ViewData["successMsg"] != null)
        {
            <div class="text-success">
                Thêm nhóm phòng thành công
            </div>
        }
        <div class="form-group">
            <label for="name">Tên nhóm phòng:</label>
            @Html.TextBoxFor(model => model.TenNhomPhong, new { @class = "form-control" })
           
        </div>
        <div class="form-group">
            <label for="name">Du thuyền:</label>
            @Html.DropDownListFor(model => model.DuThuyen_id,null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Tên hạng phòng:</label>   
            @Html.DropDownListFor(model => model.HangPhong_id,null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Tên kiểu giường:</label>
            @Html.DropDownListFor(model => model.KieuGiuong_id,null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Giá:</label>
            @Html.TextBoxFor(model => model.Gia, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="name">Trạng thái</label>
            @Html.CheckBoxFor(model => model.TrangThai, new { @class = "" })
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Thêm</button>
            <button type="reset" class="btn btn-danger">Xóa</button>
        </div>
    }
</div>

